.App {
  font-family: 'Work Sans', sans-serif;
  color: rgb(0,0,0,0.87);
  margin: 0 10% 0 10%;
}


* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

header {
  font-weight: 300;
  text-align: center;
}

.hilight {
  color: #50E3C2;
}

.divider {
  height: 1px;
  background-color: rgb(0,0,0,0.23);
}

h1{
  font-family: 'Work Sans', sans-serif;
  font-size: 42px;
  font-weight: 500;
  margin-top: 4rem;
}

.summary {
  margin: 4rem 0 2rem 0;
  display: grid;
  font-size: 24px;
}

p {
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

ul li::before {
  content: 'ー';
  color: #47C9AC;
  margin-right: 0.5rem;
;}

.summary .summaryh {
  font-size: 28px;
}

a {
  color: #47C9AC;
}

.filters {
  margin-bottom: 1rem;
}
@media (min-width: 600px) {
  .summary {
    grid-template-columns: repeat(3, 1fr);
  }

  .course {
    display: grid;
    grid-template-columns: minmax(40%, 4fr) minmax(60%, 6fr);
    column-gap: 1rem;
  }

  .course .project {
    font-size: 24px;
  }

  .course .leftBlock {
    margin: 2rem 0 2rem 0;
  }

  .course .rightBlock {
    margin: 2rem 0 2rem 0;
  }
}

@media (max-width: 599px) {
  .summary {
    grid-template-rows: repeat(3, 1fr);
  }

  .course {
    display: grid;
    grid-template-rows: minmax(40%, 4fr) minmax(60%, 6fr);
    margin: 2rem 0 0 0;
  }

  .course .project {
    font-size: 24px;
  }
}


.keyword {
  color: #318A76;
  font-weight: 500;
  font-size: 12px;
  border: solid 1px;
  border-color: #47C9AC;
  border-radius: 5px;
  padding: 3px;
  margin: 0.3rem;
  margin-right: 1rem;
  float: left;
}

.course .description {
  font-size: 14px;
}