.App {
  font-family: 'Work Sans', sans-serif;
  color: rgb(0,0,0,0.87);
  margin: 0 10% 0 10%;
}


* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

header {
  font-weight: 300;
  text-align: center;
}

.hilight {
  color: #50E3C2;
}

.divider {
  height: 1px;
  background-color: rgb(0,0,0,0.23);
}

h1{
  font-family: 'Work Sans', sans-serif;
  font-size: 42px;
  font-weight: 500;
  margin-top: 4rem;
}

.summary {
  margin: 4rem 0 2rem 0;
  display: grid;
  font-size: 24px;
}

p {
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

ul li::before {
  content: 'ー';
  color: #47C9AC;
  margin-right: 0.5rem;
;}

.summary .summaryh {
  font-size: 28px;
}

a {
  color: #47C9AC;
}

.filters {
  margin-bottom: 1rem;
}

.course .project {
  font-size: 24px;
}

@media (min-width: 600px) {
  .summary {
    grid-template-columns: repeat(3, 1fr);
  }

  .course {
    display: grid;
    grid-template-columns: minmax(40%, 4fr) minmax(60%, 6fr);
    column-gap: 1rem;
  }

  .course .leftBlock {
    margin: 2rem 0 2rem 0;
  }

  .course .rightBlock {
    margin: 2rem 0 2rem 0;
  }
}

@media (max-width: 599px) {
  .summary {
    grid-template-rows: 1fr;
  }

  .course {
    display: grid;
    grid-template-rows: 1fr;
    margin: 2rem 0 0 0;
  }

  .course .rightBlock {
    margin-bottom: 2rem;
  }
  
  .course .project {
    font-size: 24px;
    margin-bottom: 1rem;
  }
}


.keyword {
  color: #318A76;
  font-weight: 500;
  font-size: 12px;
  border: solid 1px;
  border-color: #47C9AC;
  border-radius: 5px;
  padding: 3px;
  margin: 0.3rem;
  margin-right: 1rem;
  float: left;
}

.course .description {
  font-size: 14px;
}

/* Spinner from loading.io/css */

.lds-dual-ring {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #50E3C2;
  border-color: #50E3C2 transparent #50E3C2 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
